

<% include partials/header.ejs %>

<center>

    <table style="white-space:pre-wrap; word-wrap:break-word;">
        <tr>
            <th> Department Name </th>
            <th> Result </th>
        </tr>
        <tr>
            <td>CIVIL ENGINEERING</td>
            <td><%= ce_result + "\n" %></td>
        </tr>
        <tr>
            <td>ELECTRICAL AND ELECTRONICS ENGINEERING</td>
            <td><%= ee_result + "\n" %></td>
        </tr>
        <tr>
            <td>MECHANICAL ENGINEERING</td>
            <td><%= me_result + "\n" %></td>
        </tr>
        <tr>
            <td>INDUSTRIAL ENGINEERING</td>
            <td><%= ie_result + "\n" %></td>
        </tr>
        <tr>
            <td>APPLIED ELECTRONICS & INSTRUMENTATION ENGINEERING</td>
            <td><%= ae_result + "\n" %></td>
        </tr>
        <tr>
            <td>ELECTRONICS & COMMUNICATION ENGGINEERING</td>
            <td><%= ec_result + "\n" %></td>
        </tr>
        <tr>
            <td>COMPUTER SCIENCE & ENGINEERING</td>
            <td><%= cs_result + "\n" %></td>
        </tr>
    </table>







</center>
<% include partials/footer.ejs %>