

<html>

<head>
    KTU Result Analysis
</head>

<body>
        <br /><textarea rows="20" cols = "150" name = "result" readonly="true">
            <%= ce_result %>
            <%= ee_result %>
            <%= me_result %>
            <%= ie_result %>
            <%= ec_result %>
            <%= cs_result %>
            <%= ae_result %>
        </textarea>

</body>

</html>